.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
}

.App-logo {
  width: 700px;
}

.slide-wrap {
  width: 700px;
}

.App-header {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #FFF;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #181a1b;
}
.flame {
  margin: 4rem 2rem;
}
.author {
  font-size: 2rem;
  padding-right: 0.5rem;
}

button {
  margin: 0 2px;
  color: #fff;
  line-height: 1.5rem;
  border: #000 1px solid;
  border-radius: 3px;
}

.button-wrap {
  position: sticky;
  top: 0;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  background-color: #282c34;
}

.button-active {
  background-color: #282c34;
}

.button-nonactive {
  background-color: #181a1b;
}

.Footer {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.Footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.Footer-wrap > a {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  color: #3391ff;
}
.Footer-wrap > a > img {
  height: 42px;
  margin-right: 1rem;
}
.Footer-wrap > a > p {
  margin: 0;
}
.right {
  color: #e8e6e3;
  font-size: 1rem;
}
